.Header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 111;
  border-bottom : 4px solid white;
  box-shadow : 1px 0px 30px 10px #cfcfcf;
}

.Header .Header-fond {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #C10022;
}

.Header .Navbar {
	position : fixed;
	width : 100%;
	height : 50px;
	padding-left : 20px;
	margin : 0 auto;
}

.Header .Navbar .Navbar-ElementFixe a img {
	position : absolute;
	margin-left : 575px;
	margin-top : 5px;
	border-radius : 65px;
	padding : 5px;
	background : white;
	border : 4px solid #C10022;
}

.header .Navbar .Navbar-contacte {
	position : absolute;
	margin-right : 0px;
	width : 255px;
}

.header .Navbar .Navbar-contacte h4 {
	color : white;
	font-weight : normal;
	font-family: century gothic;
	font-size: 13px;
	line-height: 1.2;
}
.header .Navbar .Navbar-contacte h6 {
	color : white;
	font-weight : bolder;
	font-family: century gothic;
	font-size: 20px;
	line-height: 1.2;
}

.header .Navbar .Navbar-contacte .navbar-facebook {
	margin-left : 0 auto;
	position : absolute;
	top : 15px;
	left : 105px;
}

.header .Navbar .Navbar-contacte .navbar-mail {
	margin-left : 0 auto;
	position : absolute;
	top : 10px;
	left : 135px;
}

.header .Navbar .Navbar-contacte .navbar-universite {
	margin-left : 0 auto;
	position : absolute;
	top : 10px;
	left : 175px;
}

.navbar .navbar-menu {
	position : absolute;
	top : 0px;
	right : 0px;
	margin-right : 0px;
	width : 255px;
}

.Navbar-menu h4 {
	color : white;
	font-weight: normal;
	font-family: century gothic;
	font-size: 13px;
	line-height: 1.2;
}

.header .Navbar .Navbar-profil{
	margin-left : 0 auto;
	position : absolute;
	top : -2px;
	right : 0px;
}

#connexion{
	position: absolute;
	background-color:white;
	right: 450px;
	width:75px;
	height:25px;
	border-radius: 5px;
	font-family : century gothic;
	font-style: bolder;
}

#inscrire{
	position: absolute;
	background-color:white;
	right: 370px;
	width:75px;
	height:25px;
	border-radius: 5px;
	font-family : century gothic;
	font-style: bolder;
}

.header .Navbar .Navbar-menu .menu-offres h4{
	margin-left : 0 auto;
	position : absolute;
	top : 0px;
	right : 186px;
}

.header .Navbar .Navbar-menu .menu-depotoffres h4{
	margin-left : 0 auto;
	position : absolute;
	top : 0px;
	right : 50px;
}

.header .Navbar .Navbar-menu .menu-offres-fleche {
	margin : 0 auto;
	position : absolute;
	top : 21px;
	right : 226px;
	padding : 0px;
}

.header .Navbar .Navbar-menu .menu-depotoffres-fleche {
	margin : 0 auto;
	position : absolute;
	top : 21px;
	right : 166px;
	padding : 0px;
}

.header .Navbar .Navbar-contacte .navbar-titresite1 {
	margin-left : 0 auto;
	position : relative;
	top : -75px;
	left : 280px;
	width: 100%;
}

.header .Navbar .Navbar-contacte .navbar-titresite2 {
	margin-left : 0 auto;
	position : absolute;
	top : 10px;
	left : 282px;
	width: 100%;
}

h6 {
  font-family: century gothic;
  font-weight: bolder;
  font-size: 20px;
  line-height: 1.2;
}

.header .navbar .Navbar-contacte .navbar-titresite2 h4 {
  font-style: italic;
  font-family : calibri;
}


body {
	background-color : #313131;
	padding : 0px;
	width : 100%;
	height: 1125px;
	margin : 0 auto;
	z-index : 109;
}

h4 {
  font-family: calibri;
  font-weight: bolder;
  font-size: 16px;
  line-height: 1.2;
}

h5 {
  font-family: Calibri;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
}

h1 {
  font-family: century gothic;
  font-weight: bolder;
  line-height: 1.2;
}

h2 {
  font-family: calibri;
  font-weight: bolder;
  line-height: 1.2;
}

h3 {
  font-family: calibri;
  font-weight: bolder;
  font-size: 14px;
  line-height: 1.2;
}

a {
   color : #74DF00 ;	
}

/* CONTENU */
.contenu{
	width: 100%;
	height: 170px;
	z-index:110;
}

.contenu .contenu-fond-haut {
	position : absolute;
	width : 100%;
	height : 1080px;
	background-color : #F2F2F2;
}

.contenu .contenu-fond-bas {
	position : absolute;
	top : 1080px;
	width : 100%;
	height : 600px;
	background-color : white;
	border-bottom : 4px solid #C10022;
}

.contenu-information {
	position : absolute;
	margin-top : 120px;
	display : inline-block;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width : 490px;
	height : 350px;
	vertical-align : top;
	margin-left : 150px;
	background-color: white;
	box-shadow : 0px 3px 5px 0px #cfcfcf;
}

.contenu-information .contenu-information-titre{
	position : relative;
	top : 0px;
	width : 490px;
	height : 50px;
	background-color : #929292;
	border-bottom-left-radius: 5px;
	margin : 0px;
}

.contenu-information h4{
	margin: 0px;
  	line-height: 50px;
  	font-size: 15px;
  	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  	padding-left : 20px;
  	color : white;
}

.contenu-information .contenu-information-image{
	position : relative;
	top : 0px;
	width : 490px;
	height : 300px;
	margin : 0px;
}

.contenu-information-image img {
	border-top-left-radius: 10px;
}

.contenu-actu {
	position : absolute;
	margin-top : 120px;
	display : inline-block;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width : 490px;
	height : 350px;
	background-color : white;
	margin-left : 640px;
	vertical-align: top;
	box-shadow : 1px 3px 5px 0px #cfcfcf;
}

.contenu-actu-titre, .contenu-actu-date, .contenu-actu-resume {
	padding-left : 40px;
	padding-right : 40px;
}

.contenu-actu-date, .contenu-actu-resume, .contenu-nouveau-ecriture-date, .contenu-nouveau-ecriture-resume, .contenu-nouveau2-ecriture-date, .contenu-nouveau2-ecriture-resume, .contenu-nouveau3-ecriture-date, .contenu-nouveau3-ecriture-resume{
	color : #A4A4A4;
}

.contenu-actu-date {
	padding-top : 40px;
}

.contenu-nouveau {
	margin-left : 150px;
}

.contenu-nouveau2 {
	margin-left : 490px;
}

.contenu-nouveau3 {
	margin-left : 830px;
}

.contenu-nouveau-image img, .contenu-nouveau2-image img, .contenu-nouveau3-image img{
	position : absolute;
	top : 500px;
	display : inline-block;
	border-radius: 10px;
	width : 300px;
	height : 200px;
	vertical-align : top;
	background-color: white;
	border-top-right-radius : 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow : 1px 0px 5px 0px #cfcfcf;
}

.contenu-nouveau-titre, .contenu-nouveau2-titre, .contenu-nouveau3-titre{
	position : absolute;
	top : 700px;
	width : 300px;
	height : 50px;
	background-color : #959595;
	margin : 0px;
	box-shadow : 1px 0px 5px 0px #cfcfcf;
}

.contenu-nouveau-titre h4, .contenu-nouveau2-titre h4, .contenu-nouveau3-titre h4{
	margin: 0px;
  	line-height: 50px;
  	font-size: 15px;
  	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  	padding-left : 20px;
  	color : white;
}

.contenu-nouveau-ecriture, .contenu-nouveau2-ecriture, .contenu-nouveau3-ecriture{
	position : absolute;
	top : 750px;
	width : 300px;
	height : 200px;
	background-color : white;
	margin : 0px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow : 1px 3px 5px 0px #cfcfcf;
}

.contenu-nouveau-ecriture-titre, .contenu-nouveau-ecriture-date, .contenu-nouveau-ecriture-resume, .contenu-nouveau2-ecriture-titre, .contenu-nouveau2-ecriture-date, .contenu-nouveau2-ecriture-resume, .contenu-nouveau3-ecriture-titre, .contenu-nouveau3-ecriture-date, .contenu-nouveau3-ecriture-resume {
	padding-left : 20px;
	padding-right : 20px;
}

.contenu-nouveau-ecriture-date, .contenu-nouveau2-ecriture-date, .contenu-nouveau3-ecriture-date {
	padding-top : 0px;
}

.contenu-bouton-toutafficher {
	margin-left : 150px;
}

.contenu-bouton-toutafficher .bouton-toutafficher{
	position : absolute;
	top : 990px;
	margin : 0px;
	width: 150px;
	height: 50px;
	background-color : #C10022;
	border-top-left-radius : 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0px 3px 5px 0px #cfcfcf;
  	padding-top : 0px;
}

.bouton-toutafficher h2 {
	margin: 0px;
  	line-height: 40px;
  	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  	padding-left : 20px;
  	color : white;
}

.contenu-bouton-toutafficher .bouton-toutafficher-fleche{
	position : absolute;
	top : 990px;
	margin-left : 150px;
	width: 50px;
	height: 50px;
	background-color : white;
	border-top-right-radius : 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 3px 5px 0px #cfcfcf;
  	padding-top : 0px;
}

.icon-arrow{
	position : relative;
	top : 16px;
	margin-left : 16px;
}

.contenu-bas-ecriture {
	margin-left : 250px;
}

.contenu-bas-ecriture-titre {
	position : absolute;
	top : 1100px;
	font-family: century gothic;
    font-weight: bolder;
    line-height: 1.2;
    font-size: 60px;
}

.contenu-bas-ecriture-question1 h2 {
	position : absolute;
	top : 1200px;
	width : 780px;
	font-family: calibri;
	padding-top : 20px;
	padding-bottom : 20px;
	margin : 0 auto;
	border-top : 2px solid #F2F2F2;
	border-bottom : 2px solid #F2F2F2;
}

.contenu-bas-ecriture-question2 h2 {
	position : absolute;
	top : 1270px;
	width : 780px;
	font-family: calibri;
	padding-top : 20px;
	padding-bottom : 20px;
	margin : 0 auto;
	border-top : 2px solid #F2F2F2;
	border-bottom : 2px solid #F2F2F2;
}

.contenu-bas-ecriture-question3 h2 {
	position : absolute;
	top : 1340px;
	width : 780px;
	font-family: calibri;
	padding-top : 20px;
	padding-bottom : 20px;
	margin : 0 auto;
	border-top : 2px solid #F2F2F2;
	border-bottom : 2px solid #F2F2F2;
}

.contenu-bas-ecriture-question4 h2 {
	position : absolute;
	top : 1410px;
	width :780px;
	font-family: calibri;
	padding-top : 20px;
	padding-bottom : 20px;
	margin : 0 auto;
	border-top : 2px solid #F2F2F2;
	border-bottom : 2px solid #F2F2F2;
}

.contenu-bas-ecriture-question5 h2 {
	position : absolute;
	top : 1480px;
	width : 780px;
	font-family: calibri;
	padding-top : 20px;
	padding-bottom : 20px;
	margin : 0 auto;
	border-top : 2px solid #F2F2F2;
	border-bottom : 2px solid #F2F2F2;
}

.contenu-bouton-acceuil {
	position : absolute;
	top : 1570px;
	left : 250px;
	margin : 0 auto;
}

.contenu-bouton-acceuil .bouton-acceuil{
	position : absolute;
	margin : 0 auto;
	width: 150px;
	height: 50px;
	background-color : #C10022;
	border-top-left-radius : 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0px 3px 5px 0px #cfcfcf;
  	padding : 0px;
}

.bouton-acceuil h2 {
	margin: 0px;
  	line-height: 40px;
  	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  	padding-left : 15px;
  	color : white;
}

.contenu-bouton-acceuil .bouton-acceuil-fleche{
	position : absolute;
	margin-left : 150px;
	width: 50px;
	height: 50px;
	background-color : white;
	border-top-right-radius : 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 3px 5px 0px #cfcfcf;
  	padding-top : 0px;
}










.formulaire {
	position : absolute;
	top : 130px;
	vertical-align : top;
	margin-left : 350px;
	background-color: white;
	box-shadow : 0px 3px 5px 0px #cfcfcf;
}

.contenu-formulaire .formulaire-haut {
	position : absolute;
	width : 100%;
	height : 975px;
	background-color : #F2F2F2;
}

.contenu-formulaire .formulaire-bas {
	position : absolute;
	top : 975px;
	width : 100%;
	height : 100px;
	background-color : white;
	border-bottom : 4px solid #C10022;
}

.formulaire-bouton-acceuil {
	position : absolute;
	top : 1000px;
	left : 300px;
	margin : 0 auto;
}


.formulaire-bouton-suivant {
	position : absolute;
	top : 1000px;
	left : 800px;
	margin : 0 auto;
}

.formulaire-bouton-suivant .bouton-acceuil h2 {
	margin: 0px;
  	line-height: 40px;
  	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  	padding-left : 50px;
  	color : white;
}

.formulaire-bouton-retour {
	position : absolute;
	top : 1000px;
	left : 550px;
	margin : 0 auto;
}


.formulaire-bouton-retour .bouton-acceuil h2 {
	margin: 0px;
  	line-height: 40px;
  	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  	padding-left : 50px;
  	color : white;
}

.bouton-acceuil{
	position : absolute;
	margin : 0 auto;
	width: 150px;
	height: 50px;
	background-color : #C10022;
	border-top-left-radius : 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0px 3px 5px 0px #cfcfcf;
  	padding : 0px;
}

.bouton-acceuil h2 {
	margin: 0px;
  	line-height: 40px;
  	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  	padding-left : 50px;
  	padding-top: 3px;
  	color : white;
}

 .bouton-acceuil-fleche{
	position : absolute;
	margin-left : 150px;
	width: 50px;
	height: 50px;
	background-color : white;
	border-top-right-radius : 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 3px 5px 0px #cfcfcf;
  	padding-top : 0px;
}

/* 
* simple Signup Form
* Created by Oussama Afellad
* www.premiumfreebies.eu
* 29/08/2011
*/


body, input, textarea { 
	font: 14px/24px Helvetica, Arial, sans-serif; 
	color: #666; 
}
input { 
	width: 60% 
}
form { 
	margin: 30px 0 0 0 
}
input, textarea { 
	background: none repeat scroll 0 0 #FFFFFF; 
	border: 1px solid #C9C9C9; 
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset, -5px -5px 0 0 #F5F5F6, 5px 5px 0 0 #F5F5F6, 5px 0 0 0 #F5F5F6, 0 5px 0 0 #F5F5F6, 5px -5px 0 0 #F5F5F6, -5px 5px 0 0 #F5F5F6; 
	color: #545658; 
	padding: 8px; 
	font-size: 14px; 
	border-radius: 2px 2px 2px 2px; 
}
#submit { 
	background: url("../images/submit_bg.gif") repeat-x scroll 0 0 transparent; 
	border: 1px solid #B7D6DF; 
	border-radius: 2px 2px 2px 2px; 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
	color: #437182; 
	cursor: pointer; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size: 14px;
	font-weight: bold; 
	height: auto; 
	padding: 6px 10px; 
	text-shadow: 0 1px 0 #FFFFFF; 
	width: auto; 
}
#submit:hover { 
	background: url("../images/submit_hover_bg.gif") repeat-x scroll 0 0 transparent; 
	border: 1px solid #9FBAC0; 
	cursor: pointer; 
}
a { 
	color: #88BBC8; 
	text-decoration: none; 
}
a:hover { 
	color: #f26525 
}
#signup-form { 
	width: 510px; 
	margin: 0 auto;
	background: #fff; 
	padding: 40px; 
	border: 4px solid #C10022; 
}
#signup-icon { 
	float: right; 
	width: 48px; 
	height: 48px; 
}
.formulaire h1{ 
	margin: 0; 
	padding: 0; 
	color: #444; 
}

.formulaire h2{ 
	margin: 0; 
	padding: 0; 
	color: #444; 
}

.formulaire h3{ 
	margin: 0; 
	padding: 0; 
	color: #444; 
}

.formulaire h4{ 
	margin: 0; 
	padding: 0; 
	color: #444; 
}

.formulaire h5{ 
	margin: 0; 
	padding: 0; 
	color: #444; 
}

.formulaire h6{ 
	margin: 0; 
	padding: 0; 
	color: #444; 
}

.formulaire h1 { 
	float: left; 
	margin: 0 0 30px; 
	font-size: 24px; 
	line-height: 34px; 
}
h2.secondary { 
	float: left; 
	width: 260px; 
	font-size: 16px; 
	font-weight: normal; 
	color: #999; 
	margin-bottom: 30px; 
	line-height: 26px; 
}
h3 { 
	margin: 30px 0 0 0 
}
.clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}
.clearfix { 
	display: inline-block 
} /* Hide from IE Mac \*/
.clearfix { 
	display: block; 
} /* End hide from IE Mac */
.none { 
	display: none; 
} /* End Clearfix _NO__DOTCOMMA__AFTER__*/

#header { 
	margin: 0 0 30px 0; 
	border-bottom: 1px solid #efefef; 
}
#send p { 
	margin-bottom: 20px 
}
textarea { 
	width: 95%; 
	margin: 0 0 0 2px; 
}
#required p{
	font-size:10px;
}
#apply { 
	border-top: 1px solid #efefef; 
	margin-top: 30px; 
	padding: 20px 0 0 0; 
}
#apply ul { 
	margin-bottom: 50px 
}
form label { 
	display: block; 
	margin-bottom: 5px; 
	font-weight: bold; 
	font-size: 12px; 
}